/* közvetlen testvér */
p+p{
    color: blue;
}

/* azok a p-k akiknek volt korábban közvetlen h1 testvére */
h1+p{
    color:red;
}

/* tetszőleges testvér */
p~p{
    background-color: blueviolet;
}